/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************** img *********************/
img {
  width: 100%;
  display: block;
  padding: 0px;
}

.soldout {
  padding: 0px;
}

.onsale {
  padding: 0px;
}

/*********** HEADER **********/

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding-top: 11px;
}
.menu a {
  text-decoration: none;
}

/************* BODY ***********/

body {
  line-height: 1.563;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

h1 {
  font-family: "Raleway", sans-serif;
  color: black;

  font-size: 40px;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: black;
  padding-top: 30px;
}
h3 {
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
  color: black;
}
p {
  font-family: "Raleway", sans-serif;
}

.andresider {
  background: url(imgs/to.webp);
  background-size: cover;
}

.langside {
  background: url(imgs/langbillede.webp);
  background-size: cover;
}

/*********** kategori ***********/
.kategoriliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding-top: 50px;
}
.kategoriliste a {
  text-decoration: none;
  padding: 2em;
  background-color: gainsboro;
  text-align: center;
  font-size: 20px;
}

/************* produktliste **********/
.productlist article {
  margin-bottom: 1rem;
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist main h2 {
  grid-column: 1/-1;
}
.productlist {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  font-weight: 400;
  line-height: 1.563;
  color: var(--color);
  background-color: var(--background-color);
  caret-color: var(--caret-color);
}
.productlist main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}
.discounted p:last-child {
  padding: 0.2rem;
  text-align: end;
  font-size: larger;
  font-weight: 800;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.productlist article.soldOut img {
  opacity: 1;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: black;
  color: white;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}
/*********** produkt **********/
.bigProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bigProductPicture {
  width: 60%;
  display: block;
  padding: 0px;
  padding-left: 70px;
  margin-left: 214px;
}

.bigProductText {
  padding-top: 130px;
  margin-left: 30px;
}
