/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************** img *********************/
img {
  width: 100%;
  display: block;
  padding: 0px;
}

.soldout {
  padding: 0px;
}

.onsale {
  padding: 0px;
}

/*********** HEADER **********/

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
}

/************* BODY ***********/

body {
  line-height: 1.563;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: steelblue;
  padding: 20px;
  font-size: 40px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  padding-top: 30px;
}

a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

/*********** kategori ***********/
.kategoriliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.kategoriliste a {
  text-decoration: none;
  padding: 2em;
  background-color: grey;
}

/************* produktliste **********/
.productlist article {
  margin-bottom: 1rem;
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist main h2 {
  grid-column: 1/-1;
}
.productlist {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  font-weight: 400;
  line-height: 1.563;
  color: var(--color);
  background-color: var(--background-color);
  caret-color: var(--caret-color);
}
.productlist main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

/*********** produkt **********/
.bigProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
