img {
  width: 100%;
}

.soldout {
  padding: 0px;
}

.onsale {
  padding: 0px;
}

/*********** HEADER **********/

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
